.App {
  background-color: black;
  min-height: 100vh;
  padding-left: 30px;
}

.App-header {
  padding-top: 20px;
  justify-content: start;
  font-size: 40px;
  color: white;
  letter-spacing: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;

}

